MapData (
    name: "Krai",
    image: "images/map.png",
    items: [
       ((-126, 97), Town (
            LocationData (
                name: "Sowth",
                population: 25,
                money: 20000,
                image: "images/town.png",
                storage: {
                    "food": 300,
                    "wood": 100,
                    "fuel": 500,
                },
                consumption: {
                    "food": 1.5,
                    "fuel": 3.0,
                    "beer": 0.4,
                },
                production: {
                    "wood": 50,
                },
                surplus_factor: {
                    "food": 2.0,
                    "beer": 2.0,
                    "fuel": 2.0,
                }
            )
        )),
        ((180, 170), Village (
            LocationData (
                name: "Glukhoe",
                population: 5,
                money: 2000,
                image: "images/village.png",
                storage: {
                    "food": 500,
                    "wood": 50,
                    "fuel": 500,
                },
                production: {
                    "food": 100,
                },
                consumption: {
                    "food": 1.5,
                    "fuel": 3.5,
                    "wood": 1.0,
                    "beer": 0.25,
                },
                surplus_factor: {
                    "food": 2.0,
                    "beer": 2.0,
                    "wood": 2.0,
                    "fuel": 2.0,
                }
            )
        )),
        ((150, -90), Village (
            LocationData (
                name: "Troyitsk",
                population: 6,
                money: 2000,
                image: "images/village.png",
                storage: {
                    "food": 500,
                    "fuel": 1000,
                },
                production: {
                    "fuel": 100,
                },
                consumption: {
                    "food": 2.0,
                    "beer": 0.25,
                    "wood": 0.5,
                },
                surplus_factor: {
                    "food": 2.0,
                    "beer": 2.0,
                    "wood": 2.0,
                }
            )
        )),
        ((130, -200), Village (
            LocationData (
                name: "Gugulino",
                population: 4,
                money: 2000,
                image: "images/village.png",
                storage: {
                    "food": 500,
                    "fuel": 300,
                },
                production: {
                    "food": 50,
                },
                consumption: {
                    "food": 1.0,
                    "beer": 0.25,
                    "wood": 1.0,
                    "fuel": 6.0,
                },
                surplus_factor: {
                    "food": 2.0,
                    "beer": 2.0,
                    "fuel": 2.0,
                }
            )
        )),
        ((5, -165), Village (
            LocationData (
                name: "Zaimka",
                population: 6,
                money: 2000,
                image: "images/village.png",
                storage: {
                    "food": 500,
                    "fuel": 300,
                },
                production: {
                    "beer": 50,
                },
                consumption: {
                    "food": 3.0,
                    "beer": 0.5,
                    "wood": 3.0,
                    "fuel": 15.0,
                },
                surplus_factor: {
                    "food": 2.0,
                    "wood": 2.0,
                    "fuel": 2.0,
                }
            )
        )),
        ((50, 50), Driver (
            DriverData (
                name: "Amon De Shir",
                money: 100,
                fuel: 10.0,
                image: "images/arrow.png",
            )
        )),

        ((10, -140), Driver (
            DriverData (
                name: "Jaskier",
                money: 50,
                fuel: 100.0,
                image: "images/arrow.png",
            )
        )),

        ((130, 130), Driver (
            DriverData (
                name: "Makkak",
                money: 50,
                fuel: 100.0,
                image: "images/arrow.png",
            )
        )),

        ((0, 0), Driver (
            DriverData (
                name: "Panda",
                money: 50,
                fuel: 100.0,
                image: "images/arrow.png",
            )
        )),

        ((-126, 97), Driver (
            DriverData (
                name: "Tractor",
                money: 100,
                fuel: 50.0,
                image: "images/arrow.png",
            )
        )),

        ((-126, 98), Driver (
            DriverData (
                name: "Felix",
                money: 100,
                fuel: 300.0,
                image: "images/arrow.png",
            )
        )),

        ((-126, 98), Driver (
            DriverData (
                name: "Alex",
                money: 100,
                fuel: 200.0,
                image: "images/arrow.png",
            )
        )),

        ((-126, 100), Driver (
            DriverData (
                name: "Alice",
                money: 100,
                fuel: 80.0,
                image: "images/arrow.png",
            )
        )),
    ]
)
