MapData (
    name: "Krai",
    image: "images/map.png",
    items: [
       ((-126, 97), Town (
            LocationData (
                name: "Sowth",
                population: 210,
                money: 10000,
                image: "images/town.png",
                storage: {
                    "food": 300,
                    "wood": 100,
                    "fuel": 10000,
                },
                consumption: {
                    "food": 3.0,
                    "fuel": 15.0,
                    "beer": 0.5,
                },
                production: {
                    "wood": 100,
                },
                surplus_factor: {
                    "food": 1.5,
                    "bear": 1.5,
                    "fuel": 2.0,
                }
            )
        )),
        ((180, 170), Village (
            LocationData (
                name: "Glukhoe",
                population: 10,
                money: 500,
                image: "images/village.png",
                storage: {
                    "food": 500,
                    "wood": 50,
                    "fuel": 5000,
                },
                production: {
                    "food": 150,
                },
                consumption: {
                    "food": 3.0,
                    "fuel": 15.0,
                    "wood": 0.5,
                    "beer": 0.5,
                },
                surplus_factor: {
                    "food": 1.5,
                    "bear": 1.25,
                    "wood": 1.25,
                    "fuel": 2.0,
                }
            )
        )),
        ((150, -90), Village (
            LocationData (
                name: "Troyitsk",
                population: 12,
                money: 500,
                image: "images/village.png",
                storage: {
                    "food": 500,
                    "fuel": 5000,
                },
                production: {
                    "fuel": 300,
                },
                consumption: {
                    "food": 3.0,
                    "beer": 0.5,
                },
                surplus_factor: {
                    "food": 1.5,
                    "bear": 1.25,
                    "fuel": 2.0,
                }
            )
        )),
        ((130, -200), Village (
            LocationData (
                name: "Gugulino",
                population: 8,
                money: 500,
                image: "images/village.png",
                storage: {
                    "food": 500,
                    "fuel": 300,
                },
                production: {
                    "food": 100,
                },
                consumption: {
                    "food": 2.0,
                    "beer": 0.5,
                    "fuel": 14.0,
                },
                surplus_factor: {
                    "food": 1.5,
                    "bear": 1.25,
                    "fuel": 2.0,
                }
            )
        )),
        ((5, -165), Village (
            LocationData (
                name: "Zaimka",
                population: 6,
                money: 500,
                image: "images/village.png",
                storage: {
                    "food": 500,
                    "fuel": 300,
                },
                production: {
                    "beer": 100,
                },
                consumption: {
                    "food": 3.0,
                    "beer": 0.5,
                    "wood": 0.5,
                    "fuel": 15.0,
                },
                surplus_factor: {
                    "food": 1.5,
                    "wood": 1.25,
                    "fuel": 2.0,
                }
            )
        )),
        ((50, 50), Driver (
            DriverData (
                name: "Amon De Shir",
                money: 100,
                fuel: 10.0,
                image: "images/arrow.png",
            )
        )),

        ((10, -140), Driver (
            DriverData (
                name: "Jaskier",
                money: 50,
                fuel: 100.0,
                image: "images/arrow.png",
            )
        )),

        ((130, 130), Driver (
        DriverData (
            name: "Makkak",
            money: 50,
            fuel: 100.0,
            image: "images/arrow.png",
        )
        )),
    ]
)
