MapData (
    name: "Krai",
    image: "images/map.png",
    items: [
       ((-126, 97), Town (
            LocationData (
                name: "Librum",
                population: 200,
                money: 10000,
                image: "images/town.png",
                storage: {
                    "food": 300,
                    "wood": 100,
                    "fuel": 1000,
                },
            )
        )),
        ((180, 170), Village (
            LocationData (
                name: "Gluthe",
                population: 10,
                money: 500,
                image: "images/village.png",
                storage: {
                    "food": 500,
                    "wood": 50,
                    "fuel": 300,
                },
            )
        )),
    ]
)